<h1>Periods</h1>

<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
		<th>Name</th>
		<th>Start Time</th>
		<th>End Time</th>
      </tr>
    </thead>
<% @periods.each do |period| %>
    <tbody>
    	<tr>
    		<td><%= link_to period.period_name, period %>
			</td>
			<td>
		      <%= period.start_time.strftime("%I:%M %p") %>
			</td>
			<td>
		      <%= period.end_time.strftime("%I:%M %p") %>
			</td>
		</tr>
    </tbody>
  </table>
</div>
  <% end %>
</ul>