<% provide(:title, 'New Period') %>
<% content_for(:heading, "<i class='fa fa-clock-o'></i> New Period".html_safe) %>

<div class='row'>
  <div class='col-md-5'>
    <%= render 'form' %>
  </div>
</div>
