<% provide(:title, 'Calendar') %>
<% content_for(:heading, "<i class='fa fa-calendar'></i> Calendar".html_safe) %>
<div class='row'>
  <div class='col-md-7'>
    <div id='calendar'></div>
    <br />
	<%= link_to 'View event list <i class="fa fa-arrow-circle-right"></i>'.html_safe, events_path %>
  </div>
</div>
