<% provide(:title, 'New Event') %>
<% content_for(:heading, "<i class='fa fa-cubes'></i> New Event".html_safe) %>

<div class='row'>
  <div class='col-md-5'>
    <%= render 'events/form' %>

    <%= link_to '<i class="fa fa-arrow-circle-left"></i> Back'.html_safe, events_path %>
  </div>
</div>
